@using System.Diagnostics
@using Un4seen.Bass

<div class="container scroller">
    <div class="device">
        <div class="outputs-names">
            <div><i class="fa-solid fa-volume-high"></i> Master</div>
            <div><i class="fa-solid fa-headphones-simple"></i> Monitor</div>
        </div>
    </div>
    @foreach(var (device, deviceIndex) in audioDevices.WithIndex()) {
        <div class="device">
            <h5>@device.Name</h5>
            <div class="channels">
                @foreach(var (channel, channelIndex) in device.Channels.WithIndex()) {
                    <div class="channel">@channel</div>
                    <div class="outputs-select">
                        <input type="checkbox" @bind="master[deviceIndex][channelIndex]" @onmouseup="@(() => Update(true, deviceIndex, channelIndex))" id="@($"cb-master-{deviceIndex}{channelIndex}")" />
                        <input type="checkbox" @bind="monitor[deviceIndex][channelIndex]" @onmouseup="@(() => Update(false, deviceIndex, channelIndex))" id="@($"cb-monitor-{deviceIndex}{channelIndex}")" />
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    private List<AudioDevice> audioDevices { get; set; } = new();
    private bool[][] master = [];
    private bool[][] monitor = [];

    [Parameter]
    public Settings Settings { get; set; } = default!;

    private bool IsSelected(bool isMasterOutput, string deviceName, AudioDevice.AudioChannel channel) {
        List<AudioDevice> devices = isMasterOutput ? Settings.Audio.MainOutputDevice : Settings.Audio.MonitorDevice;
        foreach(var d in devices) {
            if(d.Name == deviceName) return d.Channels.Contains(channel);
        }
        return false;
    }

    // FIXME: This is ridiculous. We need to find a way to trigger the update when the checkbox state changes.
    // This works but it'd be easier if we could capture the @onchange event handler. INVESTIGATE!
    private void Update(bool isMasterOutput, int deviceIndex, int channelIndex) {
        Task.Run(async () => {
            await Task.Delay(25);

            bool state = isMasterOutput ? master[deviceIndex][channelIndex] : monitor[deviceIndex][channelIndex];
            List<AudioDevice> devices = isMasterOutput ? Settings.Audio.MainOutputDevice : Settings.Audio.MonitorDevice;

            if(state && devices.Count == 0) { // First device selected
                devices.Add(new AudioDevice(audioDevices[deviceIndex].Name, audioDevices[deviceIndex].Channels[channelIndex]));
            } else {
                foreach(var d in devices) {
                    if(d.Name == audioDevices[deviceIndex].Name) { // Device already exists; update channel state
                        if(state) {
                            if(!d.Channels.Contains(audioDevices[deviceIndex].Channels[channelIndex])) {
                                d.Channels.Add(audioDevices[deviceIndex].Channels[channelIndex]);
                            }
                        } else {
                            if(d.Channels.Contains(audioDevices[deviceIndex].Channels[channelIndex])) {
                                d.Channels.Remove(audioDevices[deviceIndex].Channels[channelIndex]);
                                if(d.Channels.Count == 0) devices.Remove(d); // Remove device if no channels are selected
                            }
                        }
                        return;
                    }
                }

                // Device does not exist; add it
                devices.Add(new AudioDevice(audioDevices[deviceIndex].Name, audioDevices[deviceIndex].Channels[channelIndex]));
            }
        });
    }

    private void BuildAudioMatrix() {
        int devicesCount = Bass.BASS_GetDeviceCount() - 2;
        master = new bool[devicesCount][];
        monitor = new bool[devicesCount][];

        // Skip the first two devices: (0) No Sound, and (1) Default
        for(int i = 2; i < Bass.BASS_GetDeviceCount(); i++) {
            BASS_DEVICEINFO deviceInfo = Bass.BASS_GetDeviceInfo(i);
            AudioDevice device = new(deviceInfo.name);
            if(deviceInfo.IsEnabled) {
                Bass.BASS_Init(i, Program.SAMPLING_FREQUENCY, BASSInit.BASS_DEVICE_DEFAULT, IntPtr.Zero);
                Bass.BASS_SetDevice(i);
                BASS_INFO info = Bass.BASS_GetInfo();

                switch(info.speakers) {
                    case < 2:
                        device.Channels.Add(AudioDevice.AudioChannel.FrontStereo);
                        break;
                    case 2:
                        device.Channels.Add(AudioDevice.AudioChannel.FrontStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontRight);
                        break;
                    case 4:
                        device.Channels.Add(AudioDevice.AudioChannel.FrontStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontRight);

                        device.Channels.Add(AudioDevice.AudioChannel.SideStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.SideLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.SideRight);
                        break;
                    case 6:
                        device.Channels.Add(AudioDevice.AudioChannel.FrontStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontRight);

                        device.Channels.Add(AudioDevice.AudioChannel.SideStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.SideLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.SideRight);

                        device.Channels.Add(AudioDevice.AudioChannel.CenterAndLFE);
                        device.Channels.Add(AudioDevice.AudioChannel.Center);
                        device.Channels.Add(AudioDevice.AudioChannel.LFE);
                        break;

                    case 8:
                        device.Channels.Add(AudioDevice.AudioChannel.FrontStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.FrontRight);

                        device.Channels.Add(AudioDevice.AudioChannel.RearStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.RearLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.RearRight);

                        device.Channels.Add(AudioDevice.AudioChannel.SideStereo);
                        device.Channels.Add(AudioDevice.AudioChannel.SideLeft);
                        device.Channels.Add(AudioDevice.AudioChannel.SideRight);


                        device.Channels.Add(AudioDevice.AudioChannel.CenterAndLFE);
                        device.Channels.Add(AudioDevice.AudioChannel.Center);
                        device.Channels.Add(AudioDevice.AudioChannel.LFE);
                        break;
                }
            }
            audioDevices.Add(device);

            master[i - 2] = new bool[device.Channels.Count];
            monitor[i - 2] = new bool[device.Channels.Count];

            for(int j = 0; j < device.Channels.Count; j++) {
                master[i - 2][j] = IsSelected(true, device.Name, device.Channels[j]);
                monitor[i - 2][j] = IsSelected(false, device.Name, device.Channels[j]);
            }
        }
    }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender) {
            BuildAudioMatrix();
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}