<ModalDialog
    @ref="dialog"
    Title="Select Folder"
    Buttons="buttons"
    Movable=true>

    <div class="scroller">
        @foreach(var drive in GetDrives()) {
            <div class="container">
                <div class="entry">
                    @if(HasSubDirectories(drive.Directory.FullName)) {
                        <div @onclick="@(() => Toggle(drive.Directory.FullName))">
                            @if(expandedFolders.Contains(drive.Directory.FullName)) {
                                <i class="fa-regular fa-square-minus"></i>
                            } else {
                                <i class="fa-regular fa-square-plus"></i>
                            }
                        </div>
                    } else {
                        <i class="fa-regular fa-square"></i>
                    }
                    <div class="entry-name @(selectedFolder == drive.Directory.FullName ? "selected" : "")"
                         @onclick="@(() => selectedFolder = drive.Directory.FullName)">
                        <span>@drive.Name</span>&nbsp; <span>[@drive.Volume]</span>
                    </div>
                </div>
                @GetSubDirectories(drive.Directory)
            </div>
        }
    </div>

    <div class="selected-folder ellipsis">@selectedFolder &nbsp;</div>
</ModalDialog>

@code {
    private ModalDialog dialog = null!;

    private ModalDialog.Button[] buttons => new[] {
        new ModalDialog.Button { Text = "Select", Class = "primary", Click = EventCallback.Factory.Create(this, Ok) },
        new ModalDialog.Button { Text = "Cancel", Class = "secondary", Click = EventCallback.Factory.Create(this, Cancel) }
    };

    [Parameter]
    public EventCallback<string> OnFolderSelected { get; set; }

    private List<string> expandedFolders = [];
    private string selectedFolder = string.Empty;
    private string lastSelectedFolder = string.Empty;

    private (DirectoryInfo Directory, string Name, string Volume)[] GetDrives() {
        switch(Runtime.Platform) {
            case Runtime.Platforms.Windows:
                return DriveInfo.GetDrives()
                    .Select(d => (new DirectoryInfo(d.RootDirectory.FullName), d.Name, d.VolumeLabel))
                    .ToArray();

            case Runtime.Platforms.MacApple:
            case Runtime.Platforms.MacIntel:
                return DriveInfo.GetDrives()
                    .Where(d => d.RootDirectory.FullName.StartsWith("/Volumes/"))
                    .Select(d => (new DirectoryInfo(d.RootDirectory.FullName), d.Name, d.VolumeLabel))
                    .Append(new(new DirectoryInfo("/"), "Root", "System Root"))
                    .Append(new(new DirectoryInfo(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile)), "Home", Environment.UserName))
                    .ToArray();

            case Runtime.Platforms.Linux:
                return new[] {
                    (new DirectoryInfo("/"), "Root", "Root"),
                    (new DirectoryInfo(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile)), "Home", Environment.UserName)
                };

            default:
                return [];
        }
    }

    protected virtual RenderFragment GetSubDirectories(DirectoryInfo di) {
        if(!expandedFolders.Contains(di.FullName)) return @<span></span>;

        int indent = di.FullName.Split(Path.DirectorySeparatorChar).Length;

        return
            @<div class="container" style="margin-left: @(indent * 8)px">
                @foreach(DirectoryInfo sdi in di.GetDirectories().OrderBy(d => d.Name)) {
                    if((sdi.Attributes & FileAttributes.Hidden) == FileAttributes.Hidden) continue;

                    <div class="entry">
                        @if(HasSubDirectories(sdi.FullName)) {
                            <div @onclick="@(() => Toggle(sdi.FullName))">
                                @if(expandedFolders.Contains(sdi.FullName)) {
                                    <i class="fa-regular fa-square-minus"></i>
                                } else {
                                    <i class="fa-regular fa-square-plus"></i>
                                }
                            </div>
                        } else {
                            <i class="fa-regular fa-square"></i>
                        }
                        <div
                            class="entry-name @(selectedFolder == sdi.FullName ? "selected" : "")"
                            @onclick="@(() => selectedFolder = sdi.FullName)">
                            <span>@sdi.Name</span>
                        </div>
                    </div>
                    @GetSubDirectories(sdi);
                }
            </div>
    ;
    }

    private void Toggle(string path) {
        if(!HasSubDirectories(path)) return;

        if(expandedFolders.Contains(path)) {
            expandedFolders.Remove(path);
        } else {
            expandedFolders.Add(path);
        }
    }

    private bool HasSubDirectories(string path) {
        try {
            return Directory.GetDirectories(path).Length > 0;
        } catch {
            return false;
        }
    }

    public void Open() {
        expandedFolders.Clear();
        selectedFolder = "";
        dialog.Open();
    }

    private void Cancel() {
        dialog.Close();
    }

    private void Ok() {
        OnFolderSelected.InvokeAsync(selectedFolder);
        dialog.Save();
    }
}
