@using Diyokee.MediaProviders
@using System.Diagnostics
@using static Diyokee.MediaProviders.IMediaProvider
@inject IJSRuntime JS

<div class="error" hidden="@directoryExists">Directory not found</div>

@foreach(MediaFolder folder in folders) {
    <div class="folder @(folder.RelativePath == selectedFolder ? "selected" : "")">
        <div class="name" style="padding-left: calc(0.3rem + @(deep)rem)">
            @if(folder.IsBusy) {
                <div class="loading">
                    <img src="@Assets["/images/waiting.gif"]" />
                </div>
            } else {
                <div
                    class="icons"
                    @onclick="() => {
                        if(folder.HasSubfolders) {
                            folder.IsExpanded = !folder.IsExpanded;
                        } else {
                            selectedFolder = folder.RelativePath;
                            SelectedFolderChanged.InvokeAsync(folder.RelativePath);
                        }
                    }">
                    <i class="fa-regular @(folder.HasSubfolders ? (folder.IsExpanded ? "fa-folder-open" : "fa-folder") : "fa-folder")"></i>
                    @if(folder.HasSubfolders) {
                        <i class="fa-solid fa-xmark plus-hack"></i>
                    }
                </div>
            }

            <span class="ellipsis"
                  @onclick="() => {
                  selectedFolder = folder.RelativePath;
                  SelectedFolderChanged.InvokeAsync(folder.RelativePath);
                              }"
                  @ondblclick="() => folder.IsExpanded = !folder.IsExpanded">
                @folder.Name
            </span>
        </div>
    </div>
    <div class="subfolders">
        @if(folder.IsExpanded) {
            <Folders
                Provider="@Provider"
                RelativePath="@folder.RelativePath"
                Parent="@this"
                ParentMediaFolder="@folder"
                SelectedFolderChanged="(folder) => SelectedFolderChanged.InvokeAsync(folder)"
                @ref="subFolderUI" />
        }
    </div>
}

@code {
    private static string selectedFolder = "";
    private List<MediaFolder> folders = [];
    private string previousRelativePath = "-";
    private int deep = 0;
    private bool directoryExists = true;

    private Folders? subFolderUI;

    [Parameter]
    public IMediaProvider? Provider { get; set; }

    [Parameter]
    public MediaFolder? ParentMediaFolder { get; set; }

    [Parameter]
    public Folders? Parent { get; set; }

    private IMediaProvider? lastProvider = null;

    [Parameter]
    public string RelativePath { get; set; } = "";

    [Parameter]
    public EventCallback<string> SelectedFolderChanged { get; set; }

    protected override void OnParametersSet() {
        base.OnParametersSet();

        if(lastProvider != Provider) {
            lastProvider = Provider;
        } else {
            if(previousRelativePath == RelativePath) return;
        }

        if(Provider == null) return;

        previousRelativePath = RelativePath;
        directoryExists = Directory.Exists(Path.Combine(Provider.RootPath, RelativePath));

        Task.Run(async () => {
            await Task.Delay(50); // Just for good measure

            folders = Provider.Directories(RelativePath);
            if(ParentMediaFolder != null) ParentMediaFolder.IsBusy = false;
            if(Parent != null) await InvokeAsync(Parent.StateHasChanged);

            if(Provider.InitialPath != "") {
                List<MediaFolder> fList = folders;

                string[] dirsToExpand = Provider.InitialPath.Split(Path.DirectorySeparatorChar);
                for(int i = 0; i < dirsToExpand.Length; i++) {
                    MediaFolder? f = fList.FirstOrDefault(f => f.Name == dirsToExpand[i]);
                    if(f != null) {
                        f.IsExpanded = true;
                        fList = Provider.Directories(f.RelativePath);
                        await InvokeAsync(() => ChangeSelectedFolder(f.RelativePath));
                    }
                }
                await JS.InvokeVoidAsync("scrollSelectedItemIntoView", ".folder.selected", "end");
            }
            await InvokeAsync(StateHasChanged);
        });
        deep = RelativePath == "" ? 0 : 1 + RelativePath.Count(c => c == '\\');
    }

    private async void ChangeSelectedFolder(string folder) {
        selectedFolder = folder;
        await SelectedFolderChanged.InvokeAsync(folder);
    }

    #region MidiSupport
    public void SelectUp() {
        int currentIndex = folders.FindIndex(f => f.RelativePath == selectedFolder);

        if(currentIndex == -1 && subFolderUI != null) {
            subFolderUI.SelectUp();
            return;
        }

        if(currentIndex > 0) {
            selectedFolder = folders[currentIndex - 1].RelativePath;
        } else if(Parent != null) {
            if(selectedFolder == RelativePath) {
                currentIndex = Parent.folders.FindIndex(f => f.RelativePath == selectedFolder);
                selectedFolder = Parent.folders[currentIndex - 1].RelativePath;
            } else {
                string[] dirs = selectedFolder.Split(Path.DirectorySeparatorChar);
                dirs = dirs.Take(dirs.Length - 1).ToArray();
                selectedFolder = String.Join(Path.DirectorySeparatorChar.ToString(), dirs);
            }
        }
        SelectedFolderChanged.InvokeAsync(selectedFolder);
        InvokeAsync(StateHasChanged);

        JS.InvokeVoidAsync("scrollSelectedItemIntoView", ".folder.selected");
    }

    public void SelectDown() {
        int currentIndex = folders.FindIndex(f => f.RelativePath == selectedFolder);

        if(currentIndex == -1 && subFolderUI != null) {
            subFolderUI.SelectDown();
            return;
        }

        if(currentIndex < folders.Count - 1 && currentIndex != -1) {
            if(folders[currentIndex].HasSubfolders && folders[currentIndex].IsExpanded && subFolderUI != null) {
                selectedFolder = subFolderUI.folders[0].RelativePath;
            } else {
                selectedFolder = folders[currentIndex + 1].RelativePath;
            }
        } else if(subFolderUI != null) {
            selectedFolder = subFolderUI.folders[0].RelativePath;
        }

        SelectedFolderChanged.InvokeAsync(selectedFolder);
        InvokeAsync(StateHasChanged);

        JS.InvokeVoidAsync("scrollSelectedItemIntoView", ".folder.selected");
    }

    public void ExpandSelectedFolder() {
        int currentIndex = folders.FindIndex(f => f.RelativePath == selectedFolder);
        if(currentIndex == -1) {
            subFolderUI?.ExpandSelectedFolder();
        } else {
            MediaFolder folder = folders[currentIndex];
            if(folder.HasSubfolders) {
                folder.IsExpanded = !folder.IsExpanded;
                InvokeAsync(StateHasChanged);
            }
        }
    }
    #endregion
}
