@using Diyokee
@using System.Diagnostics
@inject IJSRuntime JS

<MouseSupport OnMouseEvent="@HandleMouseEvent">
    <div class="container" @ondblclick="() => SetValue(initialValue)">
        <div class="knob-container @(Enabled ? "" : "disabled")">
            <div class="knob">
                <div class="range" style="@GetRangeCss()"></div>
                <div class="pointer" style="@GetPointerCss()"></div>
            </div>
        </div>
        <div class="name">@Name</div>
    </div>
</MouseSupport>

@code {
    [Parameter]
    public string Name { get; set; } = "Mid";

    [Parameter]
    public double Value { get; set; } = 0.5;

    [Parameter]
    public EventCallback<double> ValueChanged { get; set; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public bool RangeFromCenter { get; set; } = true;

    [CascadingParameter]
    private MouseState mouseState { get; set; } = default!;

    public bool EnableMouseEvents { get; set; } = true;

    private double initialValue = 0.5;
    private const double minAngle = 1.08;
    private double angleRange = 135.0; // Degrees from center to min/max

    public void SetInitialValue(double value) {
        Value = value;
        initialValue = value;
    }

    public async Task SetValue(double newValue, bool updateState = false) {
        if(Value == newValue) return;
        Value = newValue;
        await ValueChanged.InvokeAsync(newValue);

        if(updateState) await InvokeAsync(StateHasChanged);
    }

    public string GetPointerCss() {
        double angle = (Value - 0) * (angleRange - (-angleRange)) / (1 - 0) + (-angleRange);
        return $"transform: rotate({angle}deg)";
    }

    public string GetRangeCss() {
        double angle = (Value - 0) * (angleRange - (-angleRange)) / (1 - 0) + (-angleRange);
        if(RangeFromCenter) {
            if(angle < 0) {
                angle += 360;
                return $"background: conic-gradient(var(--app-background-color) 0deg {angle}deg, var(--ctrl-highlight-soft) {angle}deg);";
            } else {
                return $"background: conic-gradient(var(--ctrl-highlight-soft) 0deg {angle}deg, var(--app-background-color) {angle}deg);";
            }
        } else {
            double rangeStart = 360.0 - angleRange;
            if(angle < 0) {
                angle += 360;
                return $"background: conic-gradient(var(--app-background-color) 0deg {rangeStart}deg, var(--ctrl-highlight-soft) {rangeStart}deg {angle}deg, var(--app-background-color) {angle}deg);";
            } else {
                return $"background: conic-gradient(var(--ctrl-highlight-soft) 0 {angle}deg, var(--app-background-color) {angle}deg {rangeStart}deg, var(--ctrl-highlight-soft) {rangeStart}deg 0deg);";
            }
        }
    }

    private async Task HandleMouseEvent(MouseState ms) {
        if(Enabled) {
            double newValue = Value - ms.DeltaY / 100.0;
            newValue = Math.Clamp(newValue, 0, 1);
            await InvokeAsync(async () => {
                await SetValue(newValue);
                StateHasChanged();
            });
        }
    }
}
