@using Diyokee.MediaProviders

<div class="container">
    <div class="field">
        <label for="local-media-type">Type</label>
        <InputText id="local-media-type" @bind-Value="@Provider.Type" readonly />
    </div>

    <div class="field">
        <label for="local-media-name">Name</label>
        <InputText id="local-media-name" @bind-value="@Provider.Name" />
    </div>

    <div class="field">
        <label for="local-media-location">Location</label>
        <InputText id="local-media-location" @bind-value="@Provider.RootDirectory" />
        <button class="button-select-location" onclick="@(() => folderBrowser.Open())"><i class="fa-solid fa-folder"></i></button>
    </div>

    <button class="button-delete-provider" onclick="@OnDeleteProvider"><i class="fa-solid fa-circle-xmark"></i></button>
</div>

<FolderBrowser
    OnFolderSelected="@(folder => Provider.RootDirectory = folder)"
    @ref="folderBrowser"
/>

@code {
    [Parameter]
    public Diyokee.Settings.MediaProvider Provider { get; set; } = default!;

    [Parameter]
    public EventCallback OnDeleteProvider { get; set; } = default!;

    private FolderBrowser folderBrowser = null!;
}
