@using Diyokee.Data
@using Microsoft.EntityFrameworkCore
@using Un4seen.Bass
@inject IDbContextFactory<CacheDbContext> CacheDbContextFactory;

<ModalDialog
    Title="Settings"
    Buttons = "dlgButtons"
    @ref="dialog">

    @if(settings == null) return;

    <div class="header">
        <h3>General</h3>
        <div class="field">
            <label for="key-notation">Key Notation</label>
            <div class="select-container">
                <InputSelect id="key-notation" class="key-notation-select-container" @bind-value="settings.KeyNotation">
                    @foreach(var notation in Enum.GetNames(typeof(KeyTools.Notations))) {
                        <option value="@notation">@notation</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>

    <div class="header">
        <h3>Audio</h3>
        <AudioMatrix Settings="settings" />
    </div>

    <div class="header">
        <h3>Media Providers</h3>
        <div class="media-providers scroller">
            @foreach(var provider in settings.MediaProviders) {
                <MediaProvider
                    Provider="provider"
                    OnDeleteProvider="@(() => DeleteProvider(provider))" />
            }
            <button class="button-add-provider" onclick="@AddProvider"><i class="fa-solid fa-circle-plus"></i></button>
        </div>
    </div>

    <div class="header">
        <h3>Playback</h3>

        <div class="field">
            <label for="lock-onplay">Lock players while playing</label>
            <InputCheckbox id="lock-onplay" @bind-value="settings.Playback.LockOnPlay" />
        </div>

        <div class="field">
            <label for="sync-playback">Start playback in-sync with other player </label>
            <InputCheckbox id="sync-playback" @bind-value="settings.Playback.SyncPlayback" />
            <span class="info" hidden="@(!settings.Playback.SyncPlayback)">(hold SHIFT to override)</span>
        </div>

        <div class="field">
            <label for="tempo-range">Tempo Range -/+</label>
            <div class="select-container">
                <InputSelect id="tempo-range" @bind-value="settings.Playback.TempoRange">
                    @foreach(var tempoRange in TempoRanges) {
                        <option value="@tempoRange">@tempoRange</option>
                    }
                </InputSelect>
            </div>
        </div>

        @*
            FIXME: This could be removed. It's already available as a dropdown menu for each player.
            Or perhaps we should remove the dropdown menus from the main UI?
        *@
        <div class="field">
            <label for="eq-profile">Equalizer Profile</label>
            <div class="select-container">
                <InputSelect id="eq-profile" @bind-value="settings.Playback.EqProfile">
                    @foreach(var profile in settings.EqualizerProfiles) {
                        <option value="@profile.Name">@profile.Name</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="eq-profile-info">
            <span>Low:</span><span>@(settings.EqualizerProfiles.Where(p => p.Name == settings.Playback.EqProfile).First().Low.ToString("N2")) Hz</span>
            <span>Mid:</span><span>@(settings.EqualizerProfiles.Where(p => p.Name == settings.Playback.EqProfile).First().Mid.ToString("N2")) Hz</span>
            <span>Hi:</span><span>@(settings.EqualizerProfiles.Where(p => p.Name == settings.Playback.EqProfile).First().Hi.ToString("N2")) Hz</span>
        </div>

        @foreach(var playerObj in settings.Playback.Players.Select((player, index) => new { player, index })) {
            <div class="sub-header">
                <h5>Player @(playerObj.index + 1)</h5>

                <div class="field">
                    <label for="@($"player{playerObj.index}-name")">Name</label>
                    <InputText id="@($"player{playerObj.index}-name")" @bind-value="playerObj.player.Name" />
                </div>
                <div class="field">
                    <label for="@($"player{playerObj.index}-color")">Color</label>
                    <InputText class="as-number"
                               id="@($"player{playerObj.index}-color")"
                               @bind-value="playerObj.player.Color" />
                    <div class="color" style="background-color: @(playerObj.player.Color)"></div>
                </div>
                <div class="field">
                    <label for="@($"player{playerObj.index}-reverse-controls")">Reverse Controls Order</label>
                    <InputCheckbox id="@($"player{playerObj.index}-reverse-controls")" @bind-value="playerObj.player.ReverseControls" />
                </div>
            </div>
        }

        <div class="header">
            <h3>Midi</h3>
            <MidiControllers
                Settings="settings"
                MidiProfiles="midiProfiles"
                @ref="midiControllersComponent"/>
        </div>
    </div>
</ModalDialog>

@code {
    private ModalDialog dialog = null!;

    [Parameter]
    public EventCallback OnSave { get; set; } = default!;

    [Parameter]
    public EventCallback OnClose { get; set; } = default!;

    private Diyokee.Settings settings = default!;
    private List<MidiControllerProfile> midiProfiles = default!;
    private MidiControllers midiControllersComponent = default!;
    private ModalDialog.Button[] dlgButtons => new ModalDialog.Button[] {
        new ModalDialog.Button() {
            Text = "Cleanup Database",
            Class = "tertiary float-left",
            Click = EventCallback.Factory.Create(this, CleanupDatabase)
        },
        new ModalDialog.Button() {
            Text = "Save",
            Class = "primary",
            Click = EventCallback.Factory.Create(this, Save)
        },
        new ModalDialog.Button() {
            Text = "Close",
            Class = "secondary",
            Click = EventCallback.Factory.Create(this, Close)
        }
    };

    private static readonly int[] TempoRanges = new int[] { 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 25, 35, 50, 100 };

    public void Close() {
        dialog.Close();

        OnClose.InvokeAsync();
    }

    public async void Save() {
        foreach(var mp in Program.MidiControllersProfiles) {
            File.Delete(MidiControllerProfile.GetProfilePath(mp.Name));
        }

        Program.Settings = settings;
        Program.MidiControllersProfiles = midiProfiles;
        await Program.Settings.Save();
        await MidiControllerProfile.SaveAll(Program.MidiControllersProfiles);
        Close();

        await OnSave.InvokeAsync();
    }

    private void DeleteProvider(Diyokee.Settings.MediaProvider provider) {
        settings.MediaProviders.Remove(provider);
    }

    private void AddProvider() {
        var newProvider = new Diyokee.Settings.MediaProvider() {
                Type = "local",
                Name = "New Local Provider",
                RootDirectory = MediaProviders.MediaProviderLocal.DefaultDirectory
            };
        settings.MediaProviders.Add(newProvider);
    }

    private async Task CleanupDatabase() { // TODO: Add feedback to let the user know this process is running. Also report how many files were deleted
        int filesDeleted = 0;

        using(CacheDbContext? context = await CacheDbContextFactory.CreateDbContextAsync()) {
            context?.Files
               .AsEnumerable()
               .Where(f => !File.Exists(f.Filename))
               .ToList()
               .ForEach(f => {
                   context.Files.Remove(f);
                   filesDeleted++;
               });

            if(filesDeleted > 0) {
                //Logger.LogInformation($"Deleted {filesDeleted} orphaned file{(filesDeleted == 1 ? "" : "s")} from the database");

                context?.Database.ExecuteSqlRaw("VACUUM");
                context?.SaveChanges();
            }
        }
    }

    protected override void OnAfterRender(bool firstRender) {
        if(firstRender) {
            settings = (Diyokee.Settings)Program.Settings.Clone();
            midiProfiles = Program.MidiControllersProfiles.Select(p => (MidiControllerProfile)p.Clone()).ToList();
            dialog.Open();
        }

        base.OnAfterRender(firstRender);
    }
}